Checks: '*,
        -llvm-header-guard,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -fuchsia-default-arguments-calls,
        -fuchsia-statically-constructed-objects,
        -fuchsia-overloaded-operator,
        -fuchsia-trailing-return,
        -fuchsia-multiple-inheritance,
        -fuchsia-virtual-inheritance,
        -hicpp-braces-around-statements,
        -hicpp-named-parameter,
        -readability-named-parameter,
        -readability-braces-around-statements,
        -readability-implicit-bool-conversion,
        -cert-err09-cpp,
        -cert-err61-cpp,
        -misc-no-recursion,
        -google-readability-braces-around-statements,
        -google-readability-todo,
        -google-runtime-references,
        -google-explicit-constructor'
InheritParentConfig: false
WarningsAsErrors: '*'
